<section class="relative w-full  flex justify-end items-center">

<ul class="w-[90%] flex flex-wrap justify-start items-center">
@for (data of categoryData(); track data.id) {
  
    <div [routerLink]="['/categories/watch',data.category]" [queryParams]="{id : data.id}"
    class="rounded-2xl outline-4 outline-mz-secound cursor-pointer
    flex justify-center items-center m-[2%]"
    [ngClass]="data.category === 'reels' ? 'w-[220px] h-[320px]' : 'h-[180px] w-[280px]'">
@defer (on viewport) {
    <app-category-view 
    class="w-full h-full object-cover rounded-2xl"
    [src]="data.url"
    [type]="data.type"
    categoryClass="w-full h-full object-cover rounded-2xl"
    [muted]="true"
    />
}@placeholder {
<div class="w-full h-full object-cover rounded-2xl bg-zinc-500 animate-pulse"></div>
}
    <button class="absolute size-8 cursor-pointer rounded-full bg-gray-50">
    <i class="fa-solid fa-play text-mz-secound text-lg"></i>
    </button>
    </div>

}
</ul>

</section>

