<section class="w-full flex flex-col  justify-center items-center gap-10 my-8">

    @if(categoryData()){ 
    <app-category-header class="w-[80%] lg:w-[50%]"
    [queryCategory]="queryCategory()"
    [categoriesValues]="categoriesValues()"
    />
<ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10">
@for (data of categoryData(); track data.id) {
    <div [routerLink]="['/categories/watch',data.category]" [queryParams]="{id : data.id}"
    class=" rounded-2xl  cursor-pointer flex justify-center items-center  border-1 border-mz-primary">
@defer (on viewport) {
    <app-category-view 
    [options]="{
    src : data.url,
    type : data.type,
    poster : data.poster ,
    class : data.category === 'reels' ? 
    'w-[220px] h-[320px] object-cover rounded-2xl' :
    'h-[200px] w-[300px] object-cover rounded-2xl',
    muted : true,
    }"
    
    />
}@placeholder {
<div class="rounded-2xl bg-zinc-500 animate-pulse"
[ngClass]="data.category === 'reels' ? 
'w-[220px] h-[320px] object-cover rounded-2xl' :
'h-[200px] w-[300px] object-cover rounded-2xl'
">

</div>
}
    <button class="absolute size-8 cursor-pointer rounded-full bg-gray-50">
    <i class="fa-solid fa-play text-mz-secound text-lg"></i>
    </button>
    </div>
}
</ul>
}@else {
    <app-loading />
}

</section>

