<section class="w-full  flex flex-col justify-start items-start gap-5 h-[60vh] 
overflow-y-scroll">

    @for (data of  categoryRelated(); track data.id ; let i = $index) {
    <ul [routerLink]="['/categories/watch', data.category]" [queryParams]="{id : data.id}"
    class="w-full flex  justify-between items-center text-gray-50 border-b-[1px] border-b-zinc-500
    gap-2 py-1 cursor-pointer"
    [ngClass]="categoryRelatedData().id === data.id ? 'bg-[#282828]' : ''">

    <li class="flex justify-center items-center gap-2 text-xs capitalize font-semibold mx-1">
    <div class="relative flex justify-center items-center ">
        <app-category-view
        [src]="data.url"
        [type]="data.type"
        [categoryClass]="'size-12 rounded'"
        [muted]="true"
        />

    <i *ngIf="categoryRelatedData().id === data.id" 
    class="fa-solid  text-lg text-black  absolute"
    [ngClass]="isPlaying() ? 'fa-volume-high' : 'fa-play'">
    </i>

    </div>
    <h3 >{{data.title}}</h3>
    </li>

    <li  class="mx-1">
    <small>{{videosDurations()[i] | number : '1.2-2'}}</small>
    </li>
    </ul>
    }

    

</section>