<header class="w-full  flex justify-center items-center z-10"
[ngClass]="{
    'absolute top-0 left-0' : !hidelayout() ,
    'relative' : hidelayout() ,
}">
    <nav class="w-[97%] flex flex-wrap justify-between items-center  ">
    <app-logo [logoClass]="hidelayout() ? 'w-28 sm:w-40' : 'w-34 sm:w-40' "/>

    <app-links class="hidden lg:inline-block"
    linksClass="flex justify-center items-center gap-1 text-white
    xs:w-15 sm:w-22 hover:bg-mz-primary hover:rounded-t-md  md:hover:rounded-3xl py-1 
    cursor-pointer hover:text-gray-50 mx-1"
    [showIcon]="false"
    iconClass="text-mz-primary"
    styleActiveClass="bg-mz-primary rounded-3xl "
    />

<div class="flex justify-center items-center gap-2 sm:gap-4">
        <div *ngIf="hidelayout()">
            <input #toggleRef (change)="onChanheToggle()"   type="checkbox" checked="true" id="isToggle"
            class="toggle toggle-sm text-mz-primary border-mz-primary bg-white checked:bg-mz-primary checked:text-white checked:border-mz-secound " />
        </div>
        <app-user />
</div>

</nav>
</header>
<app-nav-bar class="w-full"/>
