<header class="w-full flex justify-center items-center ">
    <nav class="w-[95%] flex justify-between items-center ">
        <app-logo  logoClass="w-36 sm:w-40 "/>
        <app-search-bar class="w-[45%]"/>

        <div class="flex justify-center items-center gap-5">
            <input type="checkbox" checked="checked" class="toggle text-mz-primary border-mz-primary bg-white checked:bg-mz-primary checked:text-white checked:border-mz-secound " />
            <app-user />
        </div>

    </nav>
</header>