
    
<nav class="w-full text-gray-50 capitalize font-bold text-lg
flex justify-evenly items-center"> 
<button type="button" class="hover:bg-mz-secound rounded-full size-7 duration-200">
    <i class="fa-solid fa-angle-left text-2xl"></i>
</button>
<swiper-container
#swiperRef
slides-per-view="3"
[parallax]="true"
[speed]="200"
loop="true"
class="w-[80%] " 
>

@for (category of categoriesValues(); track category) {
<swiper-slide [routerLink]="['/categories/category', category]" 
class="rounded flex justify-center items-center">
@defer (on viewport) {
<a class="cursor-pointer hover:opacity-60 duration-200 p-1 px-2"
[ngClass]="queryCategory() === category ? 
'text-mz-primary bg-gray-300 rounded shadow-md shadow-black'
: ''"
>{{`categories.${category}` | translate}}
</a>
}@placeholder {
    <a class="w-24 h-8 rounded bg-zinc-400 animate-pulse"></a>
}
</swiper-slide>
}
</swiper-container>
<button type="button" class="hover:bg-mz-secound rounded-full size-7 duration-200">
    <i class="fa-solid fa-angle-right text-2xl"></i>
</button>
</nav>
