<section class="w-full flex flex-wrap justify-center items-start gap-5">

    <nav class="w-[95%] lg:w-[60%] bg-gray-50 flex flex-col justify-center items-center gap-2 my-10
    rounded-2xl shadow-md shadow-black">
    <app-chat-header class="w-full "/>

    <div class="w-[95%]  flex flex-col justify-start  items-center py-2">
        <app-chat-container class="w-full h-[50vh] md:h-[55vh] overflow-y-auto" style="scrollbar-width: none;"
        [messagesData]="messagesData()"
        />
        <app-chat-form class="w-full"
        (postMessage)="sendMessage($event)"
        />
    </div>
    </nav>
    
</section>