<section class="w-full h-screen flex flex-nowrap  justify-center items-center">

    <nav class="relative w-full h-full md:h-auto md:w-[80%] lg:w-[70%] bg-gray-50 
    flex flex-col justify-between items-center  
    shadow-md shadow-black z-10">
    
        <app-chat-header class="w-full" />
        <app-chat-container #chatContainer
        class="w-full h-full "
        [messagesData]="messagesData()"
        />
        <app-chat-form class="w-full "
        (postMessage)="sendMessage($event)"
        />
        
    </nav>
    

    <div class="hidden md:inline-block w-full h-full absolute top-0 left-0 bg-black z-0 opacity-70"></div>
</section>

