<section  id="contact" class="overflow-hidden">
    
    <div class="grid grid-cols-1  justify-items-center  my-5">
    
        <div class="w-[95%] sm:w-[80%] flex flex-col items-center justify-center ">

            <div class="flex flex-col items-center justify-center animate-up gap-2">

                <div class="  text-center md:mx-auto">
                    <p class="text-lg font-semibold uppercase tracking-wide text-gray-50">
                        Contact
                    </p>
                    <h2
                        class="font-heading mb-4 font-bold tracking-tight text-mz-primary text-3xl sm:text-5xl">
                        Get in Touch
                    </h2>
                    <p class="mt-3 mb-6 text-base text-gray-50 capitalize">
                        We're here to help you grow. Whether you have a question,
                        a project in mind, or just want to learn more about how M&Z Marketing Agency 
                        can support your business goals, our team is ready to connect. Fill out the form below,
                        send us an email, or give us a call — and one of our marketing experts will get back to 
                        you as soon as possible. Let's start building something amazing together.
                        </p>
                </div>
            </div>

<ul class="w-full flex flex-nowrap justify-center items-center text-3xl  gap-3 text-gray-50">

    <li class="flex  gap-2 justify-center items-center animate-sideLeft ">
        <a class="flex gap-2 justify-center items-center size-10 bg-mz-secound rounded-box">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" 
        class="size-6 ">
            <path fillRule="evenodd" d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z" clipRule="evenodd" />
        </svg>
        </a>
    </li>

    <li class="flex  gap-2 justify-center items-center animate-sideLeft ">
    <a class="flex gap-2 justify-center items-center size-10 bg-mz-secound rounded-box">
    <i class="fa-brands fa-whatsapp"></i>
    </a>
    </li>

    <li class="flex  gap-2 justify-center items-center animate-sideLeft ">
    <a class="flex gap-2 justify-center items-center size-10 bg-mz-secound rounded-box">
    <i class="fa-brands fa-facebook"></i>
    </a>
    </li>

    <li class="animate-sideRight ">
    <a class="flex gap-2 justify-center items-center size-10 bg-mz-secound rounded-box">
        <i class="fa-brands fa-github "></i>
    </a>
    </li>
    <li class="animate-sideRight ">
    <a class="flex gap-2 justify-center items-center size-10 bg-mz-secound rounded-box">
    <i class="fa-brands fa-linkedin-in "></i>
    </a>
    </li>

    <li class="animate-sideRight ">
    <a class="flex gap-2 justify-center items-center size-10 bg-mz-secound rounded-box">
    <i class="fa-solid fa-envelope "></i>
    </a>
    </li>
</ul>
            <app-contact-form  class="w-full animate-up"/>
        </div>

    </div>
</section>