
<footer class="relative w-full min-h-[90vh] bg-mz-secound flex flex-col justify-center items-center gap-8">

    <div class="w-[90%] flex flex-col  justify-between items-center">

    <div class="relative lg:w-[60%] after:absolute after:w-full after:h-0.5  z-5 
    after:bg-gray-50 after:bottom-0 py-5">
      <p class="mt-4 text-center text-gray-900  text-xl font-extrabold capitalize">
       {{'footer.title' | translate}}
      </p>
    </div>

        <ul class="mt-6 flex justify-center items-center gap-5 z-5" >
        @for (link of socialMedia(); track link.id) {
          <li>
          <a class="text-gray-50 text-2xl cursor-pointer hover:text-gray-900 duration-200">
          <i [ngClass]="link.name"></i>
          </a>
          </li>
        }
        </ul>
    </div>

  

      <div class="w-[90%] grid grid-cols-1 sm:grid-cols-2 gap-8 text-center lg:grid-cols-4 lg:text-center z-5">
      @for (footer of  links(); track footer.id) {
            <div>
            <strong class="font-bold text-gray-900 uppercase
            "> {{`footer.${footer.title}` | translate}} 
          </strong>
  
            <ul class="mt-2 space-y-1">
              <li *ngFor="let link of footer.links">
                <a class="text-gray-50 capitalize font-[500]">
                {{`footer.${link}` | translate}}</a>
              </li>
            </ul>
          </div>
      }
      </div>
    
      <div class="w-[95%] capitalize text-gray-50 text-center ">
      copyright © 2025.create m&z page by mohamed enara
      </div>

  </footer>