<section *ngIf="authService.CurrentUser()" 
class=" absolute top-20 left-0 w-full h-[70vh] flex justify-end items-center ">

    <aside class="animate-up relative menu text-base-content min-h-full w-80  z-50 mx-[2.5%]
    flex flex-col justify-start items-center gap-5 shadow-black shadow-sm rounded bg-gray-50
    after:absolute after:w-full after:h-[20%] after:bg-mz-primary after:opacity-35 after:top-0">
    
    <div class="w-full flex flex-col justify-start items-center z-5 mt-5 gap-2">
    <div class="line-clamp-1 font-semibold text-gray-800">{{authService.CurrentUser()?.userName}}</div>
    <app-user-image  imageClass="size-14"/>

    <a class="line-clamp-1 z-5 font-semibold text-gray-950">{{authService.CurrentUser()?.email}}</a>
    </div>

    <ul class="relative w-[90%] flex flex-col  justify-start items-start gap-2 text-gray-900
    after:absolute after:w-full after:h-0.5 after:bg-mz-primary after:bottom-0 after:opacity-55 py-3">
    
<li class="w-full"> 
    <a (click)="authService.signOut()"
    class="flex justify-start items-center  capitalize font-bold gap-5
    cursor-pointer">
    <i class="fa-solid fa-sign-out text-xl"></i>  {{'profile.signOut' | translate}}
    </a>
</li>

<li class="w-full"> 
    <a [routerLink]="['/',{outlets : {primary :['history'], profile : null}}]" 
    class="flex justify-start items-center  capitalize font-bold gap-5
    cursor-pointer">
    <i class="fa-solid fa-clock-rotate-left text-xl"></i> {{'profile.history' | translate}}
    </a>
</li>

<li class="w-full"> 
    <a [routerLink]="['/',{outlets : {  profile : null}}]" 
    class="flex justify-start items-center  capitalize font-bold gap-5 
    cursor-pointer">
    <i class="fa-regular fa-comment-dots text-xl"></i> {{'chat m&z' | translate}}
    </a>
</li>
<li class="w-full"> 
    <a [routerLink]="['/',{outlets : {'booking-outlet': 'booking' , profile : null}}]" 
    class="flex justify-start items-center  capitalize font-bold gap-5 
    cursor-pointer">
    <i class="fa-solid fa-book-open text-xl"></i> {{'profile.booking' | translate}}
    </a>
</li>
<li class="w-full"> 
    <a [routerLink]="['/',{outlets : { primary : ['orders'],  profile : null}}]" 
    class="flex justify-start items-center  capitalize font-bold gap-5 mx-1
    cursor-pointer">
    <i class="fa-solid fa-bag-shopping text-xl"></i> {{'profile.orders' | translate}}
    </a>
</li>

<li class="w-full"> 
    <a routerLink="/" class="flex justify-start items-center  capitalize font-bold gap-5
    cursor-pointer">
    <i class="fa-solid fa-home text-xl "></i> {{'profile.home' | translate}}
    </a>
</li>


    </ul>

</aside>
<div [routerLink]="['/',{outlets : {  profile : null}}]"  
class="absolute left-0 top-0 h-full w-full  z-1">
</div>
</section>