<section *ngIf="authService.CurrentUser()" 
class=" absolute top-20 left-0 w-full h-[70vh] flex justify-end items-center ">

    <aside class="animate-up relative menu text-base-content min-h-full w-80  z-50 mx-[2.5%]
    flex flex-col justify-start items-center gap-5 shadow-black shadow-sm rounded bg-gray-50
    after:absolute after:w-full after:h-[20%] after:bg-mz-primary after:opacity-35 after:top-0">
    
    <div class="w-full flex flex-col justify-start items-center z-5 mt-5 gap-2">
    <div class="line-clamp-1 font-semibold text-gray-800">{{authService.CurrentUser()?.userName}}</div>
    <app-user-image  imageClass="size-14"/>

    <a class="line-clamp-1 z-5 font-semibold text-gray-950">{{authService.CurrentUser()?.email}}</a>
    </div>

<ul class="relative w-[90%] flex flex-col  justify-start items-start gap-2 text-gray-900
    after:absolute after:w-full after:h-0.5 after:bg-mz-primary after:bottom-0 after:opacity-55 py-3">
    
    @for (link of profileLinks(); track link) {
<li class="w-full"> 
    <a [routerLink]="link.path" queryParamsHandling="merge"
    (click)="link.linkName  === 'profile.signOut' ? authService.signOut() : null"
    class="flex justify-start items-center  capitalize font-bold gap-5
    cursor-pointer">
    <i [class]="link.iconName"></i>  {{ link.linkName| translate}}
    </a>
</li>
}
</ul>
</aside>

<div [routerLink]="['/',{outlets : {  profile : null}}]" queryParamsHandling="merge"  
class="absolute left-0 top-0 h-full w-full  z-1">
</div>
</section>