<div [formGroup]="formGroup()!" class="w-full flex flex-col gap-2 ">
    <div class="w-full  flex  flex-col justify-center items-start gap-1">
        <label for="Full Name" class="capitalize font-semibold text-gray-950">*full Name</label>
        <input type="text" name="Full Name" id="Full Name" placeholder="Full Name"
        formControlName="fullName"
        class="w-full input input-neutral focus:outline-mz-primary border-gray-300 focus:border-transparent
        border-2 placeholder:font-bold placeholder:text-gray-400 bg-gray-50 text-gray-900">

        @if (formGroup().get('fullName')?.invalid && formGroup().get('fullName')?.touched) {
        <div class="w-full flex flex-col gap-1 capitalize  text-sm text-error">
        <p *ngIf="formGroup().get('fullName')?.getError('required')">
        enter your full name
        </p>
        </div>
        }
    </div>
    
    <div class="w-full  flex  flex-col justify-center items-start gap-1">
        <label for="Phone Number" class="capitalize font-semibold text-gray-950">*phone number</label>
        <input type="text" name="Phone Number" id="Phone Number" placeholder="Enter Your Phone Number"
        formControlName="phone"
        class="w-full input input-neutral focus:outline-mz-primary border-gray-300 focus:border-transparent
        border-2 placeholder:font-bold placeholder:text-gray-400 bg-gray-50  text-gray-900" >

        @if (formGroup().get('phone')?.invalid && formGroup().get('phone')?.touched) {
            <div class="w-full flex flex-col gap-1 capitalize  text-sm text-error">
            <p *ngIf="formGroup().get('phone')?.getError('required')">
            enter your phone number
            </p>
            <p *ngIf="formGroup().get('phone')?.getError('pattern')">
            write a valid phone number
            </p>
            </div>
        }

    </div>
    
    <div class="w-full flex  flex-col justify-center items-start gap-2">
        <label for="email address" class="capitalize font-semibold text-gray-950">*email address</label>
        <input type="email" name="email address" id="email address" placeholder="Enter Your Email"
        formControlName="email"
        class="w-full input input-neutral focus:outline-mz-primary border-gray-300 focus:border-transparent
        border-2 placeholder:font-bold placeholder:text-gray-400 bg-gray-50  text-gray-900">
        @if (formGroup().get('email')?.invalid && formGroup().get('email')?.touched) {
            <div class="w-full flex flex-col gap-1 capitalize  text-sm text-error">
            <p *ngIf="formGroup().get('email')?.getError('required')">
            enter your phone number
            </p>
            <p *ngIf="formGroup().get('email')?.getError('email')">
            write a valid email address
            </p>
            </div>
        }
    </div>
</div>