
<section class="relative w-full flex flex-wrap justify-center items-start  ">
    
    <section class="w-[95%] flex flex-wrap flex-col md:flex-row justify-between items-start
    gap-10">
        <div class="md:w-[65%] flex flex-col justify-center items-start gap-4">
        <div class="rounded-2xl shadow-2xl shadow-black border-b-2 border-mz-primary"
        [ngClass]="categoryDataById()?.category  === 'reels' ? 'w-[50%]' : ''">
        <app-category-view 
        [src]="videoUrl()"
        [type]="categoryDataById()?.type!"
        [autoplay]="true"
        [controls]="true"
        [muted]="true"
        categoryClass="w-full h-full object-cover rounded-2xl"
        />
        </div>
        <app-video-interaction class="w-full"
        [title]="categoryDataById()?.title!"
        [views]="categoryDataById()?.video_views!"
        [created_at]="categoryDataById()?.created_at!"
        />
        </div>
    
        <app-details-aside class="w-full md:w-[30%]"
        [category]="{id : queryId() , category : catagoryParameter()}"
        />

        <app-comments class="w-full md:w-[65%]" />
    </section>




    </section>