
<section class="w-full relative  flex  justify-center items-start ">
    
    <section *ngIf="categoryDataById()" 
    class="w-[95%] flex flex-wrap flex-col md:flex-row justify-between items-start my-5">

    <div class="w-full lg:w-[65%] flex flex-col justify-center items-center gap-4 mt-3 ">
        
        <div class="relative animate-down rounded-box shadow-2xl shadow-black border-1 border-mz-primary 
        flex items-center md:w-full justify-center"
        [ngClass]="categoryDataById()?.category === 'reels' ? 
        '' :
        ''">

        <img *ngIf="categoryDataById()?.poster" [src]="categoryDataById()?.poster" 
        alt="poster-video-shadow"
        class="hidden md:inline-block  w-full h-[75vh] object-cover opacity-8  absolute left-0 top-0 ">

        @defer (on viewport) {
        <app-category-view 
        #categoryView
        [options]="{
        src : categoryDataById()?.url!,
        type : categoryDataById()?.type! ,
        poster : categoryDataById()?.poster ,
        controls : true ,
        class : categoryDataById()?.category === 'reels' ? 
        'w-[320px] h-[75vh] object-cover z-20 rounded-box' :
        'w-full  rounded-box object-cover'
        }"
        />
    }@placeholder {
    <div class="w-full h-full bg-black flex justify-center items-center">
        <span class="loading loading-bars loading-xl  text-mz-primary "></span>
    </div>
    }
     
        </div>

        <app-video-interaction class="w-full"
        [title]="categoryDataById()?.title!"
        [created_at]="categoryDataById()?.created_at!"
        />
        <app-details-aside class="lg:hidden w-full "
        [category]="{id : queryId() , category : catagoryParameter()}"
        />
        <app-comments class="w-full" />
        </div>
    
        <app-details-aside class="hidden lg:inline-block md:w-[30%]"
        [category]="{id : queryId() , category : catagoryParameter()}"
        />

    </section>
    
    <app-loading *ngIf="!categoryDataById()"/>



    </section>