<div class="w-full h-fit max-w-6xl p-5" id="form">
    <h2 class="mb-4 text-2xl font-bold text-gray-50">Ready to Get Started?</h2>
    <form id="contactForm" class="w-full text-gray-50">
        <div class="mb-6 w-full">
            <div class="mx-0 mb-1 sm:mb-4">
                <div class="mx-0 mb-1 sm:mb-4">
                    <label for="name" class="pb-1 text-xs uppercase tracking-wider"></label><input type="text" id="name" autocomplete="given-name" placeholder="Your name" class="mb-2 w-full rounded-md border border-gray-400 py-2 pl-2 pr-4 shadow-md dark:text-gray-300 sm:mb-0" name="name">
                </div>
                <div class="mx-0 mb-1 sm:mb-4 w-full">
                    <label for="email" class="pb-1 text-xs uppercase tracking-wider"></label>
                    <input type="email" id="email" autocomplete="email" placeholder="Your email address" 
                    class="mb-2 w-full rounded-md border border-gray-400 py-2 pl-2 pr-4 shadow-md dark:text-gray-300 sm:mb-0" name="email">
                </div>
            </div>

            <div class="mx-0 mb-1 sm:mb-4">
                <label for="textarea" class="pb-1 text-xs uppercase tracking-wider"></label>
                <textarea id="textarea" name="textarea" cols="30" rows="5" 
                placeholder="Write your message..." 
                class="mb-2 w-full rounded-md border border-gray-400 py-2 pl-2 pr-4 shadow-md dark:text-gray-300 sm:mb-0"></textarea>
            </div>
        </div>
    <button type="submit"  
        class="w-full btn-lg font-[500] btn btn-neutral  bg-mz-primary hover:bg-mz-secound
        duration-200 text-gray-50 capitalize">
        Send Message
    </button>

    </form>
</div>