<nav class="w-full h-full bg-gray-100 flex flex-col justify-start items-center ">

    <header class="w-full flex flex-col justify-center items-start px-2 gap-2">
        <h1 class="text-2xl p-2 font-bold capitalize text-black">chats</h1>
        <label class="w-full input bg-gray-50 border-b-2 border-mz-primary">
            <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor"><circle cx="11" cy="11" r="8"></circle><path d="m21 21-4.3-4.3"></path></g></svg>
            <input type="search" class="grow " placeholder="Search" />
        </label>
    </header> 

    <ul class="w-full h-full overflow-y-auto" style="scrollbar-width: none;">
    @for (chat of  chats(); track chat.id) {
    <li [routerLink]="['/dashboard/chat', chat.id]"  [queryParams]="{'receiver-id' : chat.user_id}"
    class="flex justify-start items-center gap-2 p-4">
        <div class="size-10  rounded-full">
            <img *ngIf="chat.avatar_url" class="rounded-full"
            alt="user image"
            [src]="chat.avatar_url" />
        </div>
        <span class="capitalize text-mz-secound font-[500]">{{chat.userName}}</span>
    </li>
    }
    </ul>
    
</nav>