<section class="size-full flex justify-center items-center">
    
    <nav class="size-full sm:size-[95%] flex justify-between items-center  ">
    <app-users-messages *ngIf="!chatId()" class="w-full md:w-[30%] h-full shadow-md shadow-black 
    sm:border-r-2 border-gray-300" 
    [chats]="chats()"/>
    

        @if(chatId()){
        <div class="w-full h-full flex  flex-col justify-center items-center z-50 ">
        <app-chat-header class="w-full" pathCloseChat="/dashboard/chat"
        [userData]="chatUser()"
        />
        <app-chat-container #chatContainer class="w-full"
        [messagesData]="messages()"/>
        <app-chat-form class="w-full "
      
        />
    </div>
    }@else {
        <div class="md:w-[70%] h-full bg-mz-secound hidden md:inline-flex flex-col justify-center items-center gap-5 ">
        <app-logo logoClass="w-80" [isPath]="false"/>
        <p class="text-gray-50 capitalize font-[500]">
        no chats available yet, select a user to start chatting
        </p>
        </div>
    }
 
    </nav>


   
</section>