<ul class="flex justify-center items-center gap-1  xs:gap-3 ">
    <li>
        <app-selection-translate />
    </li>

    @if(authService.CurrentUser() === null ){
<li>
    <a [routerLink]="[{outlets : {register : 'register' , loginIn: null }}]"

    class="text-xs sm:text-sm text-white links bg-mz-primary rounded-3xl p-1 hover:bg-mz-secound duration-200">
    {{'auth.register' | translate}}
    </a>
</li>
<li>
    <a [routerLink]="[{outlets : {loginIn: 'loginIn' , register : null}}]"
    class="text-xs sm:text-sm text-white links hover:bg-mz-primary rounded-3xl p-1 duration-200">
    {{'auth.logIn' | translate}}
    </a>
</li>
    }@else {
    <li>
        <app-user-image (click)="initModleUserData()" imageClass="size-7 cursor-pointer"/>
    </li>
    }


</ul>